
  <%= form_with model: @post, local: true do |f| %>
    <%= render 'shared/error', model: @post %>

    <%= f.hidden_field :author_id, value: current_author.id %>

    <%= f.label :title %><br>
    <%= f.text_field :title %><br>

    <%= f.label :description %><br>
    <%= f.text_area :description %><br>

    <%= f.label :published_at %><br>
    <%= date_select("post", "published_at") %><br>

        <p><b>Choose category:</b></p>

    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :title, {prompt: "choose the category"}) %><br>
    
    <%= f.submit %>
  <% end %>
  