<!DOCTYPE html>

<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="UTF-8">    <meta http-equiv="X-UA-Compatible" content="IE=edge" />    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Rails on Render!</title>
    
    <title>Simple Blog</title>
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    
  </head>

  <body>
     <p class="notice"><%= notice %></p>    
     <p class="alert"><%= alert %></p>
       
        <%= link_to 'Logo', root_path %>
           <% if author_signed_in? %>
              <%= link_to 'Sign Out', destroy_author_session_path, 'data-turbo-method': :delete %>
              <%= link_to 'Create Category', new_category_path %>
            <% else %>
              <%= link_to 'Sign Up', new_author_registration_path %>
              <%= link_to 'Sign In', new_author_session_path %>      
        <% end %>

      <%= yield %>
  </body>
</html>
